# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/
*.tsbuildinfo

# Turbo
.turbo/

# Env
.env
.env.local
.env.*.local
!.env.example

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo
.DS_Store

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test
coverage/
.nyc_output/

# Prisma
packages/db/prisma/*.db
packages/db/prisma/*.db-journal

# Misc
*.pem
!packages/db/scripts/dev-keys/*.pem
tmp/
temp/
.cache/
